$max-width: 960px;
$primary: #444;
$secondary: #888;
$font-std: helvetica;

body {
  font-family: $font-std;
}

header {
  background: $primary;
  height: 100px;

  .inner {
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
    // outline: dotted 1px orange;

    .logo {
      float: left;
      margin-top: 15px;
      margin-right: 5%;
    }

    .hamburger {
      display: none;
      width: 40px;
      position: absolute;
      right: 5%;
      top: 28px;
    }

    ul {

      li {
        display: inline-block;
        margin-right: 5%;
        margin-top: 40px;
      }
    }
  }
}

main {
  max-width: $max-width;
  margin: 2.5% auto;

  .banner {
    max-width: 100%;
  }

  .sub-banners {

    li {
      float: left;
      width: 30%;
      margin-right: 5%;
      margin-top: 2.5%;
      margin-bottom: 2.5%;

      img {
        max-width: 100%;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }
}

footer {
  clear: both;
  height: 150px;
  background: $secondary;
}

@media (max-width: 768px) {
  .inner {
    ul {
      display: none;
    }
    img.hamburger {
      display: block;

      &:hover + ul {
        display: block;
      }
    }
  }

  main {
    margin-left: 2.5%;
    margin-right: 2.5%;

    ul.sub-banners {
      li {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}
