

body {
  line-height: 1.5;
  font-size: 100%;
  font-family: Arial, Serif;
  /*color: #313131;*/
  background-color: white;
}

header {

}

img {
  max-width: 70%;
  padding-left: 15%;
}

main {
  max-width: 100%;
  margin: 2.5% auto;
}

footer {
  clear: both;
  height: 150px;
  color: white;
  background: orange;
}

/*TEXT STYLES (input)
=======================================*/
p {
  font-size: 1em;

}

article {
  margin: 0 2.5%;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
  color: #AAA;
}
